.footer {
  /* border: 1px solid red; */
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  height: 8%;
  background-color: #312f2f;
  width: 100vw;
}

.content {
  color: white;
  font-size: 15px;
  font-family: "Roboto Regular";
  font-style: italic;
}
